/* Initial transparent background */
header {
    background-color: transparent;
    transition: background-color 0.5s ease;
}

/* Background color after scrolling */
header.scrolled {
    background-color: rgb(12, 13, 41); /* Your desired background color */
}
